# Load data

## Execute this if using google colab and connecting it with google drive
## If not using google colab, navigate the script to your local drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Navigate data to its location
cd /content/drive/MyDrive/Colab Notebooks/WiDS_2021

/content/drive/MyDrive/Colab Notebooks/WiDS_2021

In [ ]:
# Load libraries
import numpy as np
import pandas as pd

In [ ]:
# load training data

training_data = pd.read_csv('TrainingWiDS2021.csv')

In [ ]:
# Explore dataset
print(training_data.head(1))
print('training data size is:', training_data.shape)

   Unnamed: 0  encounter_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0           1        214826  ...                            0                  1

[1 rows x 181 columns]
training data size is: (130157, 181)

In [ ]:
# Define independent and dependent variables
y = training_data['diabetes_mellitus']
training_data = training_data.drop(columns=['diabetes_mellitus'])
# encounter_id and hospital_id should not be invluded as predictors
training_data = training_data.drop(columns=['encounter_id', 'hospital_id'])
print(y.shape)
print(training_data.shape)

(130157,)
(130157, 178)

In [ ]:
# Check if feature variables have NA values
training_data = training_data.iloc[:,1:]
training_data.isnull().any()

age                             True
bmi                             True
elective_surgery               False
ethnicity                       True
gender                          True
                               ...
hepatic_failure                False
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
Length: 177, dtype: bool

In [ ]:
# check data types
print(training_data.dtypes)

age                            float64
bmi                            float64
elective_surgery                 int64
ethnicity                       object
gender                          object
                                ...
hepatic_failure                  int64
immunosuppression                int64
leukemia                         int64
lymphoma                         int64
solid_tumor_with_metastasis      int64
Length: 177, dtype: object

In [ ]:
# check how many unique data types is in training_data
np.unique(training_data.dtypes)

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

In [ ]:
# Check if independent variables have NA values
y.isnull().any()

False

In [ ]:
# Assumming we want to keep all variables as predictors, 
# we need to create dummy variable all variables with NA values,  
# and change NA values to 0
# # Only do it to non-string variable for now

for c in training_data.columns:
  if training_data[c].isnull().any() and training_data[c].dtypes != np.dtype('O'):


    newcol = c+'_0_1'
    newcol_value = np.array(training_data[c])


    nanindex = training_data[c].index[training_data[c].apply(np.isnan)]

    newcol_value[nanindex] = 0

    newcol_value[newcol_value!= 0]  = 1

    training_data[str(newcol)] = newcol_value

In [ ]:
# Clean categorical data (e.g. ethnicity or dtype('O'))

In [ ]:
# Check new dataset
training_data.head()

   Unnamed: 0   age  ...  h1_pao2fio2ratio_max_0_1  h1_pao2fio2ratio_min_0_1
0           1  68.0  ...                       0.0                       0.0
1           2  77.0  ...                       1.0                       1.0
2           3  25.0  ...                       0.0                       0.0
3           4  81.0  ...                       1.0                       1.0
4           5  19.0  ...                       0.0                       0.0

[5 rows x 334 columns]