<a href="https://colab.research.google.com/github/DaisyXinyiHe/diabetes_mellitus_predict/blob/pre_processing/pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load data

## Execute this if using google colab and connecting it with google drive
## If not using google colab, navigate the script to your local drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Navigate data to its location
%cd /content/drive/MyDrive/Colab Notebooks/WiDS_2021

/content/drive/MyDrive/Colab Notebooks/WiDS_2021

In [3]:
# Load libraries
import numpy as np
import pandas as pd

# Explore Training Dataset

In [25]:
# load training data

training_data = pd.read_csv('TrainingWiDS2021.csv')

In [ ]:
training_data.head(10)

   Unnamed: 0  encounter_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0           1        214826  ...                            0                  1
1           2        246060  ...                            0                  1
2           3        276985  ...                            0                  0
3           4        262220  ...                            0                  0
4           5        201746  ...                            0                  0
5           6        182697  ...                            0                  1
6           7        195124  ...                            0                  1
7           8        179261  ...                            0                  0
8           9        271041  ...                            0                  0
9          10        238874  ...                            0                  0

[10 rows x 181 columns]

In [ ]:
# Explore dataset
print(training_data.head(1))
print('training data size is:', training_data.shape)

   Unnamed: 0  encounter_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0           1        214826  ...                            0                  1

[1 rows x 181 columns]
training data size is: (130157, 181)

In [ ]:
# Check if feature variables have NA values
training_data = training_data.iloc[:,1:]
training_data.isnull().any()

encounter_id                   False
hospital_id                    False
age                             True
bmi                             True
elective_surgery               False
                               ...
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
diabetes_mellitus              False
Length: 180, dtype: bool

In [ ]:
# check data types
print(training_data.dtypes)

encounter_id                     int64
hospital_id                      int64
age                            float64
bmi                            float64
elective_surgery                 int64
                                ...
immunosuppression                int64
leukemia                         int64
lymphoma                         int64
solid_tumor_with_metastasis      int64
diabetes_mellitus                int64
Length: 180, dtype: object

In [ ]:
# check how many unique data types is in training_data
np.unique(training_data.dtypes)

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

#Check Duplication in training data**

In [27]:
training_data.duplicated().index

RangeIndex(start=0, stop=130157, step=1)

No duplicated data. Woohoo! But...is there duplicated weird data(e.g. a patient went to the hospital once, but data was stored twice in 2 different rows...but we wouldn't know until we have patient ID and time!)

In [30]:
# First, check if there are duplications on encounter ID
training_data['encounter_id'].duplicated().index

RangeIndex(start=0, stop=130157, step=1)

Ok. No duplicated patient encounter ID...probably no duplicated patient records. If there is, we couldn't know unless we have the patient ID and date information, which we do not have.

# Clean Training Data

In [ ]:
# Check categorical data
for c in training_data.columns:
  if training_data[c].dtypes == np.dtype('O'):
      print(c)

ethnicity
gender
hospital_admit_source
icu_admit_source
icu_stay_type
icu_type

In [ ]:
# Check if independent variable have nan
print(training_data['diabetes_mellitus'].isnull().any)

<bound method Series.any of 0         False
1         False
2         False
3         False
4         False
          ...
130152    False
130153    False
130154    False
130155    False
130156    False
Name: diabetes_mellitus, Length: 130157, dtype: bool>

In [ ]:
print(training_data.columns)

Index(['encounter_id', 'hospital_id', 'age', 'bmi', 'elective_surgery',
       'ethnicity', 'gender', 'height', 'hospital_admit_source',
       'icu_admit_source',
       ...
       'h1_pao2fio2ratio_max', 'h1_pao2fio2ratio_min', 'aids', 'cirrhosis',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis', 'diabetes_mellitus'],
      dtype='object', length=180)

In [ ]:
# Assumming we want to keep all variables as predictors, 
# we need to create dummy variable all variables with NA values,  
# and change NA values to 0
# # Only do it to non-string variable for now
# Exclude ids and diabetes mellitus
for c in training_data.columns[3:]:
  if training_data[c].isnull().any() and training_data[c].dtypes != np.dtype('O'):


    newcol = c+'_0_1'
    newcol_value = np.array(training_data[c])


    nanindex = training_data[c].index[training_data[c].apply(np.isnan)]

    newcol_value[nanindex] = 0

    newcol_value[newcol_value!= 0]  = 1

    training_data[str(newcol)] = newcol_value

In [ ]:
print(training_data.columns)

Index(['encounter_id', 'hospital_id', 'age', 'bmi', 'elective_surgery',
       'ethnicity', 'gender', 'height', 'hospital_admit_source',
       'icu_admit_source',
       ...
       'd1_pao2fio2ratio_max_0_1', 'd1_pao2fio2ratio_min_0_1',
       'h1_arterial_pco2_max_0_1', 'h1_arterial_pco2_min_0_1',
       'h1_arterial_ph_max_0_1', 'h1_arterial_ph_min_0_1',
       'h1_arterial_po2_max_0_1', 'h1_arterial_po2_min_0_1',
       'h1_pao2fio2ratio_max_0_1', 'h1_pao2fio2ratio_min_0_1'],
      dtype='object', length=335)

In [ ]:
# # Check categorical data (e.g. ethnicity or dtype('O'))
for c in training_data.columns:
  if training_data[c].isnull().any() and training_data[c].dtypes == np.dtype('O'):
    print(c)
    print(training_data[c].unique())
    print(len(training_data[c].index[training_data[c].apply(pd.isnull)])/len(training_data))

ethnicity
['Caucasian' nan 'Hispanic' 'African American' 'Asian' 'Native American'
 'Other/Unknown']
0.012192966955292454
gender
['M' 'F' nan]
0.0005070799111841853
hospital_admit_source
['Floor' 'Emergency Department' 'Operating Room' nan 'Direct Admit'
 'Other Hospital' 'Other ICU' 'ICU to SDU' 'Recovery Room'
 'Chest Pain Center' 'Step-Down Unit (SDU)' 'Acute Care/Floor' 'PACU'
 'Observation' 'ICU' 'Other']
0.2550611953256452
icu_admit_source
['Floor' 'Accident & Emergency' 'Operating Room / Recovery'
 'Other Hospital' 'Other ICU' nan]
0.0018439269497606736

In [ ]:
# Taking out "hospital_admit_source" and "icu_admit_source" because they don't seem to be relevant 
# to the prediction of diabete mellitus, and they have a lot of missing data
training_data = training_data.drop(columns=['icu_admit_source', 'hospital_admit_source'])

In [ ]:
# Putting all "nan" in ethnicity to "other/unknown"
nanindex = training_data['ethnicity'].index[training_data['ethnicity'].apply(pd.isnull)]
training_data['ethnicity'].iloc[nanindex] = 'Other/Unknown'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
# Delete the rows if they have nan values in "gender". This is only 66 rows
nanindex = training_data['gender'].index[training_data['gender'].apply(pd.isnull)]
training_data = training_data.drop(nanindex)
print(training_data.shape)

(130091, 333)

In [ ]:
# Check all current categorical data
for c in training_data.columns:
  if training_data[c].dtypes == np.dtype('O'):
      print(c)

ethnicity
gender
icu_stay_type
icu_type

In [ ]:
print(training_data['icu_stay_type'].unique())
print(training_data['icu_type'].unique())

['admit' 'readmit' 'transfer']
['CTICU' 'Med-Surg ICU' 'CCU-CTICU' 'Neuro ICU' 'MICU' 'SICU'
 'Cardiac ICU' 'CSICU']

In [ ]:
# Get dummy variable for categorical data
# dummy_v = pd.get_dummies(training_data[['ethnicity','gender','icu_stay_type','icu_type']],drop_first=True)
training_data = pd.get_dummies(data=training_data, columns=['ethnicity','gender','icu_stay_type','icu_type'])

In [ ]:
training_data.head(5)

   encounter_id  hospital_id  ...  icu_type_Neuro ICU  icu_type_SICU
0        214826          118  ...                   0              0
1        246060           81  ...                   0              0
2        276985          118  ...                   0              0
3        262220          118  ...                   0              0
4        201746           33  ...                   0              0

[5 rows x 348 columns]

In [ ]:
training_data = training_data.fillna(0)

        encounter_id  hospital_id  ...  icu_type_Neuro ICU  icu_type_SICU
0             214826          118  ...                   0              0
1             246060           81  ...                   0              0
2             276985          118  ...                   0              0
3             262220          118  ...                   0              0
4             201746           33  ...                   0              0
...              ...          ...  ...                 ...            ...
130152        164758            7  ...                   0              0
130153        197653            7  ...                   0              0
130154        219719            7  ...                   0              0
130155        222562          170  ...                   0              0
130156        157942            7  ...                   0              0

[130091 rows x 348 columns]

# Save Cleaned Training Data

In [ ]:
# Save cleaned training dataset
training_data.to_csv('training_data_clean.csv',index=False)

In [ ]:
# Define independent and dependent variables
y = training_data['diabetes_mellitus']
training_data = training_data.drop(columns=['diabetes_mellitus'])
# encounter_id and hospital_id should not be invluded as predictors
training_data = training_data.drop(columns=['encounter_id', 'hospital_id'])
print(y.shape)
print(training_data.shape)

(130091,)
(130091, 345)

# Explore Unlabeled Data

In [4]:
# Load unlabeled data
unlabeled_data =  pd.read_csv('UnlabeledWiDS2021.csv')

In [5]:
unlabeled_data.head(10)

   Unnamed: 0  encounter_id  ...  lymphoma  solid_tumor_with_metastasis
0           1        144740  ...         0                            0
1           2        141990  ...         0                            0
2           3        142038  ...         0                            0
3           4        138628  ...         0                            0
4           5        141682  ...         0                            0
5           6        139096  ...         0                            0
6           7        142994  ...         0                            0
7           8        141954  ...         0                            0
8           9        135344  ...         0                            0
9          10        142552  ...         0                            0

[10 rows x 180 columns]

In [6]:
# Explore dataset
print(unlabeled_data.head(1))
print('unlabeled data size is:', unlabeled_data.shape)

   Unnamed: 0  encounter_id  ...  lymphoma  solid_tumor_with_metastasis
0           1        144740  ...         0                            0

[1 rows x 180 columns]
unlabeled data size is: (10234, 180)

In [7]:
# Check if feature variables have NA values
unlabeled_data = unlabeled_data.iloc[:,1:]
unlabeled_data.isnull().any()

encounter_id                   False
hospital_id                    False
age                            False
bmi                             True
elective_surgery               False
                               ...
hepatic_failure                False
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
Length: 179, dtype: bool

In [8]:
# check data types
print(unlabeled_data.dtypes)

encounter_id                     int64
hospital_id                      int64
age                              int64
bmi                            float64
elective_surgery                 int64
                                ...
hepatic_failure                  int64
immunosuppression                int64
leukemia                         int64
lymphoma                         int64
solid_tumor_with_metastasis      int64
Length: 179, dtype: object

In [9]:
# check how many unique data types is in training_data
np.unique(unlabeled_data.dtypes)

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

In [10]:
# Check categorical data
for c in unlabeled_data.columns:
  if unlabeled_data[c].dtypes == np.dtype('O'):
      print(c)

ethnicity
gender
hospital_admit_source
icu_admit_source
icu_stay_type
icu_type

In [11]:
print(unlabeled_data.columns)

Index(['encounter_id', 'hospital_id', 'age', 'bmi', 'elective_surgery',
       'ethnicity', 'gender', 'height', 'hospital_admit_source',
       'icu_admit_source',
       ...
       'h1_arterial_po2_min', 'h1_pao2fio2ratio_max', 'h1_pao2fio2ratio_min',
       'aids', 'cirrhosis', 'hepatic_failure', 'immunosuppression', 'leukemia',
       'lymphoma', 'solid_tumor_with_metastasis'],
      dtype='object', length=179)

In [12]:
# Assumming we want to keep all variables as predictors, 
# we need to create dummy variable all variables with NA values,  
# and change NA values to 0
# # Only do it to non-string variable for now
# Exclude ids and diabetes mellitus
for c in unlabeled_data.columns[3:]:
  if unlabeled_data[c].isnull().any() and unlabeled_data[c].dtypes != np.dtype('O'):


    newcol = c+'_0_1'
    newcol_value = np.array(unlabeled_data[c])


    nanindex = unlabeled_data[c].index[unlabeled_data[c].apply(np.isnan)]

    newcol_value[nanindex] = 0

    newcol_value[newcol_value!= 0]  = 1

    unlabeled_data[str(newcol)] = newcol_value

In [13]:
print(unlabeled_data.columns)

Index(['encounter_id', 'hospital_id', 'age', 'bmi', 'elective_surgery',
       'ethnicity', 'gender', 'height', 'hospital_admit_source',
       'icu_admit_source',
       ...
       'd1_pao2fio2ratio_max_0_1', 'd1_pao2fio2ratio_min_0_1',
       'h1_arterial_pco2_max_0_1', 'h1_arterial_pco2_min_0_1',
       'h1_arterial_ph_max_0_1', 'h1_arterial_ph_min_0_1',
       'h1_arterial_po2_max_0_1', 'h1_arterial_po2_min_0_1',
       'h1_pao2fio2ratio_max_0_1', 'h1_pao2fio2ratio_min_0_1'],
      dtype='object', length=334)

In [14]:
# # Check categorical data (e.g. ethnicity or dtype('O'))
for c in unlabeled_data.columns:
  if unlabeled_data[c].isnull().any() and unlabeled_data[c].dtypes == np.dtype('O'):
    print(c)
    print(unlabeled_data[c].unique())
    print(len(unlabeled_data[c].index[unlabeled_data[c].apply(pd.isnull)])/len(unlabeled_data))

ethnicity
['Caucasian' nan 'Hispanic' 'Other/Unknown' 'African American' 'Asian'
 'Native American']
0.019933554817275746
gender
['F' 'M' nan]
0.0004885675200312683
hospital_admit_source
['Floor' 'Emergency Department' 'Direct Admit' nan 'Operating Room'
 'Other Hospital' 'Other ICU' 'ICU to SDU' 'Recovery Room'
 'Step-Down Unit (SDU)' 'Chest Pain Center']
0.26705100644909124
icu_admit_source
['Accident & Emergency' 'Floor' 'Operating Room / Recovery'
 'Other Hospital' nan 'Other ICU']
0.0024428376001563415

In [15]:
# Taking out "hospital_admit_source" and "icu_admit_source" since we took them out in training data
unlabeled_data = unlabeled_data.drop(columns=['icu_admit_source', 'hospital_admit_source'])

In [16]:
# Putting all "nan" in ethnicity to "other/unknown"
nanindex = unlabeled_data['ethnicity'].index[unlabeled_data['ethnicity'].apply(pd.isnull)]
unlabeled_data['ethnicity'].iloc[nanindex] = 'Other/Unknown'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [17]:
# Delete the rows if they have nan values in "gender". This is only 66 rows
nanindex = unlabeled_data['gender'].index[unlabeled_data['gender'].apply(pd.isnull)]
unlabeled_data = unlabeled_data.drop(nanindex)
print(unlabeled_data.shape)

(10229, 332)

In [18]:
# Check all current categorical data
for c in unlabeled_data.columns:
  if unlabeled_data[c].dtypes == np.dtype('O'):
      print(c)

ethnicity
gender
icu_stay_type
icu_type

In [19]:
print(unlabeled_data['icu_stay_type'].unique())
print(unlabeled_data['icu_type'].unique())

['admit' 'readmit' 'transfer']
['Med-Surg ICU' 'SICU' 'CTICU' 'Neuro ICU' 'CCU-CTICU' 'MICU'
 'Cardiac ICU' 'CSICU']

In [20]:
# Get dummy variable for categorical data
unlabeled_data = pd.get_dummies(data=unlabeled_data, columns=['ethnicity','gender','icu_stay_type','icu_type'])

In [21]:
unlabeled_data.head(5)

   encounter_id  hospital_id  ...  icu_type_Neuro ICU  icu_type_SICU
0        144740        10141  ...                   0              0
1        141990        10141  ...                   0              0
2        142038        10141  ...                   0              0
3        138628        10141  ...                   0              0
4        141682        10141  ...                   0              0

[5 rows x 347 columns]

In [22]:
unlabeled_data = unlabeled_data.fillna(0)

In [23]:
unlabeled_data.head(10)

   encounter_id  hospital_id  ...  icu_type_Neuro ICU  icu_type_SICU
0        144740        10141  ...                   0              0
1        141990        10141  ...                   0              0
2        142038        10141  ...                   0              0
3        138628        10141  ...                   0              0
4        141682        10141  ...                   0              0
5        139096        10141  ...                   0              0
6        142994        10141  ...                   0              0
7        141954        10141  ...                   0              0
8        135344        10141  ...                   0              0
9        142552        10141  ...                   0              0

[10 rows x 347 columns]

# Save Cleaned Unlabeled Data

In [31]:
# Save cleaned training dataset
unlabeled_data.to_csv('unlabeled_data_clean.csv',index=False)